{% extends 'base.html' %}

{% block content %}
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Publication Date</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>
                        <a href="{% url 'books_detail' book.id %}">{{ book.title }}</a>
                    </td>
                    <td>{{ book.genre.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publication_year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}